body {
  background: url(../../assets/images/ai-generated-8479590_1920.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}